################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Samples.Configuration/.vs/Samples.Configuration/v15
