@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }

  .input:disabled, .input:read-only {
    background-color: unset !important;
    opacity: 1 !important;
    border: 2px solid #9ba59d !important;
  }
}
