<div class="options" *ngIf="model">
  <div class="title">{{model.name}}</div>
  <form #myForm="ngForm" novalidate>
    <div class="form-group">
      <label>IOptions<<b>T</b>>.Value</label>
      <input class="form-control" name="first" [(ngModel)]="model.fromOptions.key" readonly />
    </div>
    <div class="form-group">
      <label>IOptionsMonitor<<b>T</b>>.CurrentValue</label>
      <input class="form-control" name="second" [(ngModel)]="model.fromOptionsMonitor.key" readonly />
    </div>
  </form>
</div>
